<body>
    <!-- Page Wrapper -->
    <div id="page-wrapper">

        <header id="header" class="alt">
            <h1><a href="/">Petopia</a></h1>
            <nav id="nav">
                <ul>
                    <li class="special">
                        <a href="#menu" class="menuToggle"><span>Menu</span></a>
                        <div id="menu">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/hotels">Pet Hotel</a></li>
                                <li><a href="/spas">Pet Spa</a></li>
                                <li><a href="/products">Products</a></li>
                                <li><a href="/login">Log In</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>

        <!-- Two -->
        <section id="two" class="wrapper alt style2">
            <section class="spotlight">
                <div class="image"><img src="./images/unsplash-image-s9Tf1eBDFqw.jpg" alt="Dog lying in pet bed surrounded by plants" /></div><div class="content">
                    <h2>Pet Hotel</h2>
                    <p>
                    Welcome to our Pet Hotel! Here you can schedule an appointment for any of the fexciting pet stays we provide. If you're in need of someone to watch your pet while you're away, look no further as our pet hotel is the perfect place. We have many highly trained caretakers that take lots of pride in what they do and will watch, feed, and play with your animal so you can rest easy while you're away.<p>
                </div>
            </section>
        </section>

        <!-- Three -->
        <section id="three" class="wrapper style3 special">
            <div class="inner">
                <h2>Pet Hotel Services</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Add to Cart</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each hotels as |hotel|}}
                        <tr>
                            <td>{{hotel.stayType}}</td>
                            <td>{{hotel.description}}</td>
                            <td>{{hotel.price}}</td>
                            <th><button class="button fit primary" id={{hotel.id}}>Schedule Reservation</button></th>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </section>
    </div>

    <!-- Scripts -->
    <script src="./js/jquery.min.js"></script>
    <script src="./js/jquery.scrolly.min.js"></script>
    <script src="./js/browser.min.js"></script>
    <script src="./js/breakpoints.min.js"></script>
    <script src="./js/util.js"></script>
    <script src="./js/main.js"></script>
</body>