  <header id="header" class="alt">
		<h1><a href="/landingpage">Petopia</a></h1>
		<nav id="nav">
			<ul>
				<li class="special">
					<a href="#menu" class="menuToggle"><span>Menu</span></a>
					<div id="menu">
						<ul>
							<li><a href="/landingpage">Home</a></li>
							<li><a href="/hotels">Pet Hotel</a></li>
							<li><a href="/spas">Pet Spa</a></li>
							<li><a href="/login">Log In</a></li>
						</ul>
					</div>
				</li>
			</ul>
		</nav>
	</header>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Add to Cart</th>
            </tr>
        </thead>
        <tbody>
            {{#each hotels as |hotel|}}
            <tr>
                <td>{{hotel.stayType}}</td>
                <td>{{hotel.description}}</td>
                <td>{{hotel.price}}</td>
                <th><button id={{hotel.id}}>Schedule Reservation</button></th>
            </tr>
            {{/each}}
        </tbody>
        {{!-- <tfoot>
            <tr>
                <td colspan="2"></td>
                <td>100.00</td>
                <th><button>Add To Cart</button></th>
            </tr>
        </tfoot> --}}
    </table>